.nav{
  border: black;
}
.container{
    width: 100%;
    height:100%;

}
.menu ul{
   display: inline-flex;
   margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.headerLogo {
float:left;
margin:auto;
display:inline-block;
}

.headerText {
margin-top: 10px;
margin-right: 20px;
float: right;
position: relative;
display:inline-block;
}
img {
  display: block;
  margin-left: auto;
  margin-right: right;
}
